@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$accent: #3447b5;
$white: #f1e8e8;
$dark-blue: #0c0e31;
$black: #06061a;
$blue: #171d51;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1);

$default-font: 'Roboto';
